// Variables

// Breakpoints
$breakpoint-xxl: 'min-width: 1400px';
$breakpoint-xl: 'min-width: 1200px';
$breakpoint-lg: 'min-width: 992px';
$breakpoint-md: 'min-width: 768px';
$breakpoint-sm: 'min-width: 576px';

// Colors
$white: #EEEEEE;
$black: #000000;
$lighter-grey: #CCCCCC;
$light-grey: #999999;
$grey: #666666;
$dark-grey: #333333;
$light-color: #51ff7f;
$color: #36AF57;
$dark-color: #2b8643;

// Header
$header--color: $black;
$header--bg-color: $white;
$nav__list--length: 4;

// Toggle
$toggle__icon--line-height: 1px;