#about {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    @media ($breakpoint-lg) {
        min-height: auto;
        display: block;
        padding-bottom: 2rem;
        }
    .two-columns {
      padding: 2rem 2rem 0;
      direction: rtl;
      grid-gap: 2rem;
      .column {
        display: flex;
        flex-direction: column;
        direction: ltr;
        align-items: center;
        gap: 1rem;
        &--txt {
          @media ($breakpoint-lg) {
            align-items: flex-start;
          }
          .list {
            display: flex;
            gap: 2rem;
            &__item a {
              @media ($breakpoint-lg) {
                display: flex;
                align-items: center;
                gap: 1rem;
              }
              .heading {
                display: none;
                @media ($breakpoint-lg) {
                  display: block;
                }
              }
            }
          }
        }
        &--img {
          .image {
            max-width: 300px;
          }
        }
      }
    }
  }