html, body, * {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    color: $black;
}

html, body {
    overflow-y: hidden;
}

body {
    display: flex;
    flex-direction: column;
    background-color: $white;
    height: 90vh;
}