footer {
  background-color: $black;
  .one-column {
    padding-block: 1rem;
    align-items: center;
    & > * {
      color: $white;
    }
    @media ($breakpoint-lg) {
      grid-auto-flow: column;
      grid-template-columns: repeat(3, 1fr);
    }
    .list {
      display: flex;
      gap: 2rem;
    }
    .copyright {
      order: 3;
      @media ($breakpoint-lg) {
        order: unset;
      }
    }
  }
}
