.form {
    display: flex;
    flex-direction: column;
    &__label {
     margin-top: .5rem;
    }
    &__input {
        border-radius: 10px ;
        border: none;
        background-color: $lighter-grey;
        padding: 0.5rem 1rem;
        &--txt {

        }
        &--textarea {
            resize: none;
            height: 100px;
        }
    }
}