.grid {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-gap: 1rem;
  &--about {
    grid-template-columns: auto;
    grid-template-areas:
      "image"
      "heading"
      "paragraph"
      "links";
    @media ($breakpoint-lg) {
      justify-items: start;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "image heading"
        "image paragraph"
        "image links";
    }
    .image {
      margin: auto;
      grid-area: image;
    }
    .heading {
      grid-area: heading;
    }
    .paragraph {
      grid-area: paragraph;
    }
    .list {
      grid-area: links;
    }
  }
  &--skills {
    grid-template-columns: auto;
    grid-template-areas:
      "heading"
      "pills"
      "panes";
    @media ($breakpoint-lg) {
      grid-template-columns: auto auto;
      grid-template-areas:
        "heading pills"
        "panes panes"
    }
    .heading {
      grid-area: heading;
    }
    .pills {
      grid-area: pills;
      display: grid;
      align-items: center;
      justify-items: center;
      grid-template-columns: repeat(3, auto);
      grid-gap: 1rem;
    }
    .panes {
      width: 100%;
      grid-area: panes;
    }
  }
  &--contact {
    grid-template-columns: auto;
    grid-template-areas:
      "image"
      "heading"
      "form";
    @media ($breakpoint-lg) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "heading heading"
        "image form";
    }
    .heading {
      grid-area: heading;
    }
    .form {
      grid-area: form;
    }
    .image {
      grid-area: image;
    }
  }
}
