// Heading
.heading {
  width: max-content;
  margin: 0;
  border-radius: 10px;
  &--dark {
    @include heading($white, $black);
  }
  &--light {
    @include heading($black, $white);
  }
  &--color {
    @include heading($white, $light-green);
  }
  &--center > * {
    margin: auto;
  }
}

