#hero {
    height: 100vh;
    min-height: fit-content;
    display: flex;
    align-items: center;
    .content {
        @media ($breakpoint-lg) {
            flex-direction: row-reverse;
            align-items: center;
            gap: 1rem;
        }
        &__item {
            @media ($breakpoint-lg) {
                position: relative;
            }
            .btn{
                @media ($breakpoint-lg) {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    right: 0;
                }
            }
        }
    }
}