.image {
  object-fit: contain;
  width: 100%;
  height: 100%;
  // &--lg {
  //   max-width: 480px;
  //   @media ($breakpoint-lg) {
  //     max-width: 720px;
  //   }
  // }
  // &--md {
  //   max-width: 120px;
  //   @media ($breakpoint-lg) {
  //     max-width: 240px;
  //   }
  // }
}
