li {
  list-style: none;
}

.list {
  display: flex;
  gap: 2rem;
  justify-content: center;
  @media ($breakpoint-lg) {
    justify-content: unset;
  }
  &__item {
    .link {
      display: flex;
      align-items: center;
      gap: 1rem;
      .heading {
        display: none;
        @media ($breakpoint-lg) {
          display: block;
        }
      }
    }
  }
}