.one-column {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
}

footer {
  background-color: $black;
  .one-column {
    padding-block: 1rem;
    align-items: center;
    & > * {
      color: $white;
    }
    @media ($breakpoint-lg) {
      grid-auto-flow: column;
      grid-template-columns: repeat(3, 1fr);
    }
    .list {
      display: flex;
      gap: 2rem;
    }
    .copyright {
      order: 3;
      @media ($breakpoint-lg) {
        order: unset;
      }
    }
  }
}

#education {
    .one-column {
        grid-gap: 2rem;
    }
}

#skills {
  background-color: $light-green;
  .one-column {
    grid-gap: 1rem;
    @media ($breakpoint-lg) {
      grid-auto-flow: column;
      justify-content: center;
    }
  }
}
