// Tabs

// Pills
.pills {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
  &__item {
    background-color: unset;
    padding: 0;
    border: none;
    margin: 0;
    .heading {
      color: $dark-green;
      transition: color 0.5s ease;
    }
    &:hover {
      .heading {
        color: $black;
      }
    }
    &.active {
      .heading {
        color: $black;
      }
    }
  }
}

// Panes
.panes {
  display: grid;
  &__group {
    display: none;
    &.show {
      animation: fadeIn 0.25s ease-in;
    }
    &.hide {
      animation: fadeOut 0.05s ease-out;
    }
    &.active {
      display: grid;
      grid-template-columns: repeat(auto-fit, 100px);
      justify-content: center;
      justify-items: center;
      grid-gap: 2rem;
      margin-top: 2rem;
    }
    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: .5rem;
      .icon {
        $icon--size: 60px;
        width: $icon--size;
        height: $icon--size;
        @media ($breakpoint-lg) {
          $icon--size: 80px;
          width: $icon--size;
          height: $icon--size;
        }
      }
    }
  }
}
