// Tabs

// Pills
.pills {
  &__item {
    padding: 0;
    border: none;
    margin: 0;
    .heading {
      color: $grey;
      transition: color 0.5s ease;
    }
    &:hover {
      .heading {
        color: $black;
      }
    }
    &.active {
      .heading {
        color: $black;
      }
    }
  }
}

// Panes
.panes {
  display: grid;
  align-items: center;
  &__group {
    display: none;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-gap: 2rem 1rem;
    @media ($breakpoint-lg) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-template-rows: repeat(2, minmax(0, 1fr));
    }
    &.show {
      animation: fadeIn 0.25s ease-in;
    }
    &.hide {
      animation: fadeOut 0.05s ease-out;
    }
    &.active {
      display: grid;
    }
    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .icon {
        $icon--size: 60px;
        width: $icon--size;
        height: $icon--size;
        @media ($breakpoint-lg) {
          $icon--size: 100px;
          width: $icon--size;
          height: $icon--size;
        }
      }
    }
  }
}