.two-columns {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  @media ($breakpoint-lg) {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.hero {
  display: grid;
  align-items: center;
  height: 100vh;
  .two-columns {
      align-items: center;
      @media ($breakpoint-lg) {
          direction: rtl;
      }
      .column {
        &--txt {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          .btn {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;        
          }
        }
      }
  }
}

.about {
  .two-columns {
    padding: 2rem 2rem 0;
    direction: rtl;
    grid-gap: 2rem;
    .column {
      display: flex;
      flex-direction: column;
      direction: ltr;
      align-items: center;
      gap: 1rem;
      &--txt {
        @media ($breakpoint-lg) {
          align-items: flex-start;
        }
        .list {
          display: flex;
          gap: 2rem;
          &__item a {
            @media ($breakpoint-lg) {
              display: flex;
              align-items: center;
              gap: 1rem;
            }
            .heading {
              display: none;
              @media ($breakpoint-lg) {
                display: block;
              }
            }
          }
        }
      }
      &--img {
        .image {
          max-width: 300px;
        }
      }
    }
  }
}