.wrapper {
    @include container;
    &--lg {
      min-height: fit-content;
      height: 100vh;
    }
    .about {
        grid-template-columns: auto;
        grid-template-areas:
          "image"
          "heading"
          "paragraph"
          "links";
        @media ($breakpoint-lg) {
          justify-items: start;
          grid-template-columns: 1fr 1fr;
          grid-template-areas:
            "image heading"
            "image paragraph"
            "image links";
        }
        .image {
          margin: auto;
          grid-area: image;
        }
        .heading {
          grid-area: heading;
        }
        .paragraph {
          grid-area: paragraph;
        }
        .list {
          grid-area: links;
        }
  
    }
}  